.cell{
width:28px;
height:30px;
line-height:50px;
font-size:12px;
float:left;
border:1px solid black;
text-align:center;

}
  
  #firstd{
  background-color:#FFD720;
  width:120px;
  text-align:top;
  }
  
 #secondtd{
 background-color:#FFD720;
 width:120px;
 text-align:top;
}
 
 #thirdtd{
background-color:#EEEEEE;
height:200px;
width:400px;
text-align:top;
 }
 
 #fourthtd{
 background-color:#FFA500;
 text-align:center;
}